@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Community Care</h1>
    <p>Welcome to our wee little community where we are comitted to helping the elderly and vulnerable in the society by giving back
       what they sepent their whole lives giving to us; LOVE, TIME and CARE! 
    </p>
</div>
